body {
    background-color: #0D1117;
    font-family: 'Courier New', Courier, monospace;
    color: #C9D1D9;
}

h1, h2, h3 {
    color: #C9D1D9;
    text-align: center;
}

#summary, #budget, #Income, #Expense, #balance, #debts, #work-expenses, #investments {
    border: 1px solid #30363D;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
    background-color: #161B22;
    box-shadow: 0 1px 0 rgba(27,31,35,0.04);
}

#summary-2, #budget-2, #income-2, #expense-2, #balance-2, #debts-2, #investments-2 {
    border: 1px solid #30363D;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
    background-color: #161B22;
    box-shadow: 0 1px 0 rgba(27,31,35,0.04);
}

@media (max-width: 1750px) {
    #budget-2, #income-2, #expense-2, #balance-2, #investments-2{
        flex-direction: column !important;
    }
}

@media (max-width: 1500px) {
    #summary-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #summary-2 > div {
        flex: 1 0 100%;  /* Grow and shrink equally, don't allow flex items to shrink below 100% width */
    }
}

@media (max-width: 1500px) {
    #summary-2, #budget-2, #income-2, #expense-2, #balance-2, #investments-2 {
        flex-direction: column !important;
    }
    #summary-2 > div, #budget-2 > div, #income-2 > div, #expense-2 > div, #balance-2 > div, #investments-2 > div {
        flex: 1 0 100%;  /* Grow and shrink equally, don't allow flex items to shrink below 100% width */
    }
    #review-date, #networth, #available, #investment, #reimbursement, #loaned, #owed {
        margin: 10px;
        padding: 10px;
    }
    #budget-table, #income-table, #expense-table {
        padding: 10px;
        margin-bottom: 10px;
    }
}

#budget-table, #income-table, #expense-table{
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #161B22;
    box-shadow: 0 1px 0 rgba(27,31,35,0.04);
    color: #161B22;
}

#review-date, #networth, #available, #investment, #reimbursement, #loaned, #owed {
    background-color: #323651;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
}